{% extends "errors/layout.html" %}

{% block title %}403 - {{ t('error_pages.403.title') }}{% endblock %}

{% block error_content %}
<div class="space-y-6">
    <div class="mx-auto w-64 h-64">
        <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_pwohahvd.json"  background="transparent"  speed="1"  style="width: 100%; height: 100%;"  loop  autoplay></lottie-player>
    </div>

    <h1 class="text-4xl font-extrabold text-gray-900">{{ t('error_pages.403.title') }}</h1>
    <p class="text-xl text-gray-600">{{ t('error_pages.403.description') }}</p>

    <div class="pt-4">
        <a href="{{ url_for('auth.index') }}" class="btn-secondary inline-flex items-center gap-2">
            <i class="fas fa-lock"></i>
            {{ t('error_pages.403.back_home') }}
        </a>
    </div>
</div>
{% endblock %}
